.basket__header {
  margin-bottom: 50px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  box-shadow: 2px 0px 45px 1px $shadowColor;
  min-height: 50px;
  width: 100%;

  .basket__title {
    font-size: 30px;
  }

  .basket__link {
    padding: 5px 10px;
    font-size: 18px;
    text-decoration: none;
    border-radius: 10px;
    color: black;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: grey;
    }
  }
}
