.order__header {
  margin-bottom: 50px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  box-shadow: 2px 0px 45px 1px $shadowColor;
  min-height: 50px;
  width: 100%;
}

.order__empty {
  text-align: center;
  font-size: 36px;
}
